/*add font site addres as @import url('link')*/
body{
background-image: url('/assets/BG-IMAGE.jpg') !important;
background-size:cover !important;
background-repeat: no-repeat !important;
@media (min-width:440px) {
    height: 100vh;
    overflow: hidden;
}

}

.center-div{
    padding-top: 10%;
}
.btn.btn-success{
    padding: 0.5em 0.5em;
}

#login.title{
    font-size: 0.8em;
}